*,
*::after,
*::before {
	box-sizing: border-box;
}

:root {
	font-family: "Epilogue", sans-serif;
	/* font-size: 18px; */
	--white: hsl(0, 0%, 98%);
	--gray: hsl(0, 0%, 41%);
	--black: hsl(0, 0%, 8%);
	--strong-cyan: #26c0ab;
	--very-dark-cyan: #00494d;
	--dark-grayish-cyan: #5e7a7d;
	--dark-grayish-cyan-2: #7f9b9f;
	--light-grayish-cyan: #c5e4e7;
	--light-grayish-cyan-2: hsl(189, 41%, 97%);
	--white: hsl(0, 0%, 100%);
}

body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100vh;
}

ul {
	display: flex;
	gap: 2rem;
	list-style: none;
}

a {
	text-decoration: none;
	color: var(--very-dark-cyan);
}

.btn {
	display: flex;
	background: none;
	border: none;
}

nav {
	display: flex;
	align-items: center;
	justify-content: start;
	padding: 2rem 2rem 0 2rem;
}

.nav-dropdown {
	display: none;
}

.nav-mobile {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: none;
}

.nav-mobile-btn {
	align-self: center;
	margin-left: auto;
	cursor: pointer;
}

.nav-mobile-content {
	background-color: var(--white);
	position: absolute;
	width: 65%;
	right: 0;
	top: 0;
	margin: 0;
	width: 0%;
	height: 100%;
	padding: 1rem;
	display: grid;
	grid-template-rows: min-content 1fr;
}

.nav-mobile-content.open {
	animation: open 0.5s forwards;
}

@keyframes open {
	0% {
		width: 0%;
	}
	100% {
		width: 65%;
	}
}

.nav-mobile-content > button {
	justify-self: end;
	cursor: pointer;
}

.nav-mobile-content ul {
	flex-direction: column;
	padding-left: 0.5rem;
}

.nav-mobile.open {
	display: flex;
}

.nav-btns {
	margin-left: auto;
	display: none;
	gap: 2rem;
	align-items: center;
}

.btn-secondary {
	border: 2px solid var(--very-dark-cyan);
	border-radius: 1rem;
	padding: 0.75rem 1rem;
	color: var(--very-dark-cyan);
}

.btn-secondary:hover {
	background-color: var(--very-dark-cyan);
	color: var(--white) !important;
}

.btn:hover {
	border-color: var(--black);
	color: var(--black);
}

.dropdown-btn {
	padding-right: 1.5rem;
	position: relative;
}

.dropdown-btn::after {
	position: absolute;
	content: url(./images/icon-arrow-down.svg);
	top: -5%;
	right: 5%;
}

.arrow-up::after {
	content: url(./images/icon-arrow-up.svg) !important;
}

.dropdown-container {
	position: relative;
}

.dropdown-content {
	display: none;
	padding-top: 1.25rem;
	pointer-events: none;
}

.dropdown-content.open {
	display: flex;
	pointer-events: all;
	animation: slide-down 0.5s forwards;
}

@keyframes slide-down {
	0% {
		transform: translateY(-5%);
	}
	100% {
		transform: translateY(0%);
	}
}

.dropdown-list {
	flex-direction: column;
	gap: 1rem;
	padding: 1.5rem;
	width: max-content;
	display: flex;
	margin-left: 0.5rem;
}

.dropdown-content.right {
	right: 0;
}

.dropdown-content.left {
	left: 0;
}

.dropdown-list .btn {
	display: flex;
	align-items: center;
}

.btn > span {
	margin-right: 1rem;
}

.learn-more h1 {
	font-size: clamp(2.2rem, 5vw, 5rem);
	font-weight: 700;
	color: var(--very-dark-cyan);
}

.learn-more p {
	color: var(--dark-grayish-cyan);
	font-size: clamp(15px, 5vw, 18px);
	line-height: 1.5;
	color: var(--very-dark-cyan);
}

.btn-primary {
	background-color: var(--very-dark-cyan);
	color: var(--white);
	border: 2px solid var(--very-dark-cyan);
	box-shadow: 0 0.125em 0.25em var(--dark-grayish-cyan);
	border-radius: 1rem;
	padding: 1rem 1.75rem;
	width: max-content;
	font-size: 18px;
	font-weight: 700;
	cursor: pointer;
	margin-inline: auto;
}

.btn-primary:hover {
	color: var(--very-dark-cyan);
	background-color: var(--white);
}

.hero > img {
	width: 100%;
	height: auto;
	object-fit: contain;
	border-radius: 2rem;
	box-shadow: 0 0.125em 0.25em var(--dark-grayish-cyan);
}

.container {
	width: min(90%, 70rem);
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(3, min-content);
	padding-block: 4rem;
	gap: 2rem;
}

.learn-more {
	grid-column: 1 / 1;
	grid-row: 2 / 3;
	display: flex;
	flex-direction: column;
	justify-content: end;
	text-align: center;
}

.icon {
	width: 16px;
	height: 16px;
}

.hero {
	grid-column: 1 / 1;
	grid-row: 1 / 2;
}

#nicotina,
#metabolismo,
#genes,
#razones,
#tips {
	width: min(90%, 70rem);
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	gap: 2rem;
	padding-block: 6rem;
}

#nicotina img,
#metabolismo img,
#genes img {
	width: 60%;
	height: auto;
	border-radius: 1rem;
	object-fit: cover;
}

.nicotina-info,
.metabolismo-info,
.genes-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#nicotina h2,
#metabolismo h2,
#genes h2,
#tips h2 {
	color: var(--very-dark-cyan);
	line-height: 1.2;
}

#nicotina p,
#metabolismo p,
#genes p,
#tips p {
	color: var(--very-dark-cyan);
	font-weight: 400;
	font-size: 0.97rem;
}

#razones {
	padding-block: 4rem;
}

.card {
	background: var(--very-dark-cyan);
	color: var(--light-grayish-cyan);
	border-radius: 0.5rem;
	display: grid;
	padding: 1rem;
	box-shadow: 0 0.125em 0.25em var(--dark-grayish-cyan);
}
.grid {
	display: grid;
	gap: 2rem;
}
.grid-2 {
	display: grid;
	gap: 2rem;
}

.grid-2 > .card {
	background: url(./images/Shiny\ Overlay-3.png), #26c0ab;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.grid > .card {
	background: url(./images/Shiny-Overlay-2.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.grid-2 > .card > p,
.grid-2 > .card > h3 {
	color: var(--white) !important;
}

@media (min-width: 876px) {
	.grid {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 2rem;
	}
	.grid-2 {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: repeat(2, 1fr);
		justify-content: center;
		margin: 0 auto;
		gap: 2rem;
	}

	.card-1 {
		grid-column: 1 / 3;
		grid-row: 1 / 1;
	}
	.card-2 {
		grid-column: 3 / 4;
		grid-row: 1 / 1;
	}
	.card-3 {
		grid-column: 1 / 2;
		grid-row: 2 / -1;
	}
	.card-4 {
		grid-column: 2 / 4;
		grid-row: 2 / -1;
	}
	.card-5 {
		grid-column: 4 / 4;
		grid-row: 1 / -1;
	}
	.grid-2 > .card > p,
	.grid-2 > .card > h3 {
		color: var(--white) !important;
	}
	#metabolismo,
	#nicotina,
	#genes {
		display: grid;
		text-align: start;
		grid-template-columns: repeat(2, 1fr);
	}

	.nicotina-info,
	.metabolismo-info,
	.genes-info {
		order: 0;
	}
	#nicotina img,
	#genes img {
		width: 100%;
	}
	#metabolismo img {
		width: 100%;
		order: 3;
	}
	.container {
		grid-template-columns: 50% 50%;
		grid-template-rows: 1fr;
	}

	.learn-more {
		grid-column: 1 / 2;
		grid-row: 1 / 1;
		flex-direction: column;
		justify-content: center;
		text-align: start;
		gap: 2rem;
		margin-bottom: 4rem;
	}

	.hero {
		grid-column: 2 / 2;
		grid-row: 1 / 1;
	}

	.learn-more h1 {
		font-size: clamp(2.2rem, 5vw, 5rem);
		font-weight: 700;
		width: 85%;
		margin-bottom: 0;
	}

	.learn-more p {
		font-size: clamp(15px, 5vw, 18px);
		line-height: 1.5;
		width: 85%;
	}

	.btn-primary {
		margin-inline: 0;
		margin-right: auto;
	}

	.nav-dropdown {
		display: flex !important;
	}
	.nav-mobile {
		display: none !important;
	}
	.nav-btns {
		display: flex !important;
	}
	.nav-mobile-btn {
		display: none !important;
	}
	.dropdown-content {
		opacity: 0;
		position: absolute;
		padding-top: 1.25rem;
	}
	.dropdown-content.open {
		opacity: 1;
		pointer-events: auto;
		transform: translateY(0%);
	}
	.dropdown-list {
		flex-direction: column;
		gap: 1rem;
		background-color: white;
		border-radius: 1rem;
		padding: 1.5rem;
		box-shadow: 0 3px 10px 1px rgba(0, 0, 0, 0.1);
		width: max-content;
		display: flex;
		margin-left: 0;
	}
}
